<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.metavm.object.instance.persistence.mappers.InstanceMapper">
    <resultMap id="BaseResultMap" type="org.metavm.object.instance.persistence.InstancePO">
        <!--@mbg.generated-->
        <!--@Table instance-->
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="appId" jdbcType="BIGINT" column="app_id"/>
        <result property="data" column="data"/>
        <result property="version" jdbcType="BIGINT" column="version"/>
        <result property="syncVersion" jdbcType="BIGINT" column="sync_version"/>
        <result property="nextNodeId" jdbcType="BIGINT" column="next_node_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        app_id,
        data,
        version,
        sync_version,
        next_node_id
    </sql>

    <update id="batchDelete">
        <!--@mbg.generated-->
        <foreach collection="versions" item="item" separator=";">
            update instance
            set deleted_at = #{timestamp},
                version    = #{item.version}
            where app_id = #{appId}
              and deleted_at = 0
              and id = #{item.id}
        </foreach>
    </update>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        <!--@mbg.generated-->
        insert into instance (id, app_id, data, next_node_id)
        values
        <foreach collection="collection" item="item" separator=",">
            (#{item.id}, #{item.appId}, #{item.data}, #{item.nextNodeId})
        </foreach>
    </insert>

    <update id="batchUpdate">
        <!--@mbg.generated-->
        <foreach collection="collection" item="item" separator=";">
            update instance set
            <if test="item.data != null">
                data = #{item.data},
            </if>
            version      = #{item.version},
            sync_version = #{item.syncVersion},
            next_node_id = #{item.nextNodeId}
            where id = #{item.id}
              and app_id = #{item.appId}
              and deleted_at = 0
        </foreach>
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from instance
        where deleted_at = 0
          and id = #{id}
    </select>


    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from instance
        where app_id = #{appId}
          and deleted_at = 0
          and
            id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="lockMode == 1">
            for share
        </if>
        <if test="lockMode == 2">
            for
            update
        </if>
    </select>

    <update id="updateSyncVersion">
        <foreach collection="collection" item="item" separator=";">
            UPDATE instance
            set sync_version = #{item.version}
            where id = #{item.id}
              and sync_version &lt; #{item.version}
              and deleted_at = 0
              and app_id = #{item.appId}
        </foreach>
    </update>

    <select id="getAliveIds" resultType="java.lang.Long">
        select id
        from instance
        where app_id = #{appId}
          and deleted_at = 0
          and
            id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="scan" resultMap="BaseResultMap">
        <foreach collection="queries" item="query" separator=" UNION DISTINCT " open="(" close=")">
            select
            <include refid="Base_Column_List"/>
            from instance
            where app_id = #{appId}
              and deleted_at = 0
              and id > #{query}
            limit #{query}
        </foreach>
    </select>

    <select id="scanTrees" resultType="long">
        select
        id
        from instance
        where app_id = #{appId}
        and deleted_at = 0
        and id > #{startId}
        order by id
        limit #{limit}
    </select>

    <select id="selectVersions" resultType="org.metavm.object.instance.core.TreeVersion">
        select id, version
        from instance
        where app_id = #{appId}
          and id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and deleted_at = 0
    </select>
</mapper>