<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.metavm.system.persistence.RegionMapper">

  <resultMap id="BaseResultMap" type="org.metavm.system.persistence.RegionPO">
    <!--@mbg.generated-->
    <!--@Table id_region-->
    <result property="typeCategory" jdbcType="INTEGER" column="type_category"/>
    <result property="startId" jdbcType="BIGINT" column="start_id"/>
    <result property="endId" jdbcType="BIGINT" column="end_id"/>
    <result property="nextId" jdbcType="BIGINT" column="next_id"/>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    type_category, start_id, end_id, next_id
  </sql>

  <select id="selectByTypeCategories" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List"/>
    from id_region
    where type_category in
    <foreach collection="collection" item="typeCategory" separator="," open="(" close=")">
      #{typeCategory}
    </foreach>
    for update
  </select>

  <update id="inc">
    update id_region
    set
        next_id = next_id + #{inc}
    where type_category = #{typeCategory}
  </update>

  <insert id="batchInsert">
    <!--@mbg.generated-->
    insert into id_region (type_category, start_id, end_id, next_id) values
    <foreach collection="collection" item="item" separator=",">
      (
      #{item.typeCategory}, #{item.startId}, #{item.endId}, #{item.nextId}
      )
    </foreach>
  </insert>

</mapper>