<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.metavm.object.type.persistence.mappers.ChoiceOptionMapper">
  <resultMap id="BaseResultMap" type="tech.metavm.object.type.persistence.ChoiceOptionPO">
    <!--@mbg.generated-->
    <!--@Table choice_option-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="field_id" jdbcType="BIGINT" property="fieldId"/>
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="default_selected" jdbcType="BOOLEAN" property="defaultSelected"/>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tenant_id, `name`, field_id, `order`, default_selected
  </sql>

  <select id="selectById" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from choice_option
    where tenant_id = #{tenantId} and id = #{id} and deleted_at = 0
  </select>

  <update id="batchDelete">
    <!--@mbg.generated-->
    update choice_option
    set deleted_at = unix_timestamp() * 1000
    where tenant_id = #{tenantId} and deleted_at = 0 and id in
    <foreach collection="ids" item="id" separator="," open="(" close=")">
        #{id}
    </foreach>
  </update>

  <insert id="batchInsert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into choice_option (tenant_id, `name`, field_id, `order`, default_selected)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.tenantId}, #{item.name}, #{item.fieldId}, #{item.order}, #{item.defaultSelected})
    </foreach>
  </insert>

  <update id="batchUpdate">
    <!--@mbg.generated-->
    <foreach collection="list" item="item" separator=";">
      update choice_option
      <set>
        <if test="item.name != null">
          `name` = #{item.name},
        </if>
        <if test="item.order != null">
          `order` = #{item.order,jdbcType=INTEGER},
        </if>
        <if test="item.defaultSelected != null">
          default_selected = #{item.defaultSelected}
        </if>
      </set>
      where tenant_id = #{item.tenantId} and id = #{item.id} and deleted_at = 0
    </foreach>
  </update>

  <select id="selectByFieldIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    choice_option
    where tenant_id = #{tenantId} and
    deleted_at = 0 and
    field_id in
    <foreach collection="fieldIds" item="fieldId" open="(" close=")" separator=",">
        #{fieldId}
    </foreach>
  </select>

  <update id="deleteByFieldIds">
    delete
    from
        choice_option
    where tenant_id = #{tenantId} and
    deleted_at = 0 and
    field_id in
    <foreach collection="fieldIds" item="fieldId" open="(" close=")" separator=",">
      #{fieldId}
    </foreach>
  </update>

</mapper>