<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.metavm.object.instance.persistence.mappers.IdSetNodeMapper">
  <resultMap id="BaseResultMap" type="tech.metavm.object.instance.persistence.IdSetNodePO">
    <!--@mbg.generated-->
    <!--@Table id_set_node-->
    <id column="set_id" jdbcType="BIGINT" property="setId" />
    <id column="value" jdbcType="BIGINT" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    set_id, `value`
  </sql>

  <select id="select" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from id_set_node
    where set_id = #{setId}
    order by id
    <if test="desc == true">
      desc
    </if>
    <if test="limit != null">
        limit #{start}, #{limit}
    </if>
  </select>

  <delete id="batchDelete" parameterType="map">
    <!--@mbg.generated-->
    delete from id_set_node
    where id in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <insert id="batchInsert">
    <!--@mbg.generated-->
    insert into id_set_node (set_id, `value`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.setId}, #{item.value})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="tech.metavm.object.instance.persistence.IdSetNodePO">
    <!--@mbg.generated-->
    insert into id_set_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="setId != null">
        set_id,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="seq != null">
        seq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="setId != null">
        #{setId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=BIGINT},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="batchUpdate" parameterType="tech.metavm.object.instance.persistence.IdSetNodePO">
    <!--@mbg.generated-->
    update id_set_node
    <set>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
    </set>
    where set_id = #{setId,jdbcType=BIGINT}
      and `value` = #{value,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tech.metavm.object.instance.persistence.IdSetNodePO">
    <!--@mbg.generated-->
    update id_set_node
    set seq = #{seq,jdbcType=INTEGER}
    where set_id = #{setId,jdbcType=BIGINT}
      and `value` = #{value,jdbcType=BIGINT}
  </update>
</mapper>