<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.metavm.object.instance.persistence.mappers.IdSetMapper">

  <resultMap id="BaseResultMap" type="tech.metavm.object.instance.persistence.IdSetPO">
    <!--@mbg.generated-->
    <!--@Table id_set-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="next_seq" jdbcType="INTEGER" property="nextSeq" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `size`, next_seq
  </sql>

  <select id="selectByIds" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from id_set
    where id in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <delete id="batchDelete">
    <!--@mbg.generated-->
    delete from id_set
    where id in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="tech.metavm.object.instance.persistence.IdSetPO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into id_set (`size`, `next_seq`) values
    <foreach collection="list" item="item" separator=",">
        (#{item.size}, #{item.nextSeq})
    </foreach>
  </insert>

  <update id="batchUpdate" parameterType="tech.metavm.object.instance.persistence.IdSetPO">
    <!--@mbg.generated-->
    <foreach collection="list" item="item" separator=";">
      update id_set
      <set>
        <if test="item.size != null">
          `size` = #{item.size},
        </if>
        <if test="item.nextSeq != null">
          next_seq = #{item.nextSeq},
        </if>
      </set>
      where id = #{item.id}
    </foreach>
  </update>

</mapper>