<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.metavm.object.instance.persistence.mappers.InstanceArrayMapper">
  <resultMap id="BaseResultMap" type="tech.metavm.object.instance.persistence.InstanceArrayPO">
    <!--@mbg.generated-->
    <!--@Table instance_array-->
    <id property="id" jdbcType="BIGINT" column="id"/>
    <result property="tenantId" jdbcType="BIGINT" column="tenant_id"/>
    <result property="typeId" jdbcType="BIGINT" column="type_id"/>
    <result property="length" jdbcType="INTEGER" column="length"/>
    <result property="elements" jdbcType="VARCHAR" column="elements"
            typeHandler="tech.metavm.util.JsonArrayTypeHandler"/>
    <result property="version" jdbcType="BIGINT" column="version"/>
    <result property="syncVersion" jdbcType="BIGINT" column="sync_version"/>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tenant_id, type_id, length, elements, version, sync_version
  </sql>

  <update id="batchDelete">
    <!--@mbg.generated-->
    update instance_array
    set deleted_at = unix_timestamp() * 100
    where
    deleted_at = 0 and
    (id) in
    <foreach collection="collection" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </update>

  <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
    <!--@mbg.generated-->
    insert into instance_array (id, tenant_id, type_id, length, elements)
    values
    <foreach collection="collection" item="item" separator=",">
      (#{item.id}, #{item.tenantId}, #{item.typeId}, #{item.length},
      #{item.elements, typeHandler=tech.metavm.util.JsonArrayTypeHandler})
    </foreach>
  </insert>

  <update id="batchUpdate">
    <!--@mbg.generated-->
    <foreach collection="collection" item="item" separator=";">
      update instance_array
      <set>
        <if test="item.typeId != null">
          type_id = #{item.typeId},
        </if>
        <if test="item.length != null">
          length = #{item.length},
        </if>
        <if test="item.elements != null">
          elements = #{item.elements, typeHandler=tech.metavm.util.JsonArrayTypeHandler},
        </if>
        <if test="item.version != null">
          version = #{item.version},
        </if>
        <if test="item.syncVersion != null">
          version = #{item.syncVersion},
        </if>
      </set>
      where id = #{item.id}
    </foreach>
  </update>

  <select id="selectByIds" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from
        instance_array
    where
        tenant_id = #{tenantId} and
        deleted_at = 0 and
        id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
  </select>

  <select id="selectByTypeIds" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from
        instance_array
    where
    tenant_id = #{tenantId} and
    deleted_at = 0 and
    type_id in
    <foreach collection="typeIds" item="typeId" open="(" close=")" separator=",">
      #{typeId}
    </foreach>
    limit #{start},#{limit}
  </select>
</mapper>