<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.metavm.flow.persistence.ScopeMapper">
  <resultMap id="BaseResultMap" type="tech.metavm.flow.persistence.ScopePO">
    <!--@mbg.generated-->
    <!--@Table `scope`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flow_id" jdbcType="BIGINT" property="flowId"/>
    <result column="deleted_at" jdbcType="BIGINT" property="deletedAt" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, flow_id, deleted_at
  </sql>

  <select id="batchSelect" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `scope`
    where deleted_at = 0 and id in
    <foreach collection="collection" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="selectByFlowIds" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `scope`
    where deleted_at = 0 and
    flow_id in
    <foreach collection="collection" item="flowId" separator="," open="(" close=")">
      #{flowId}
    </foreach>
  </select>

  <delete id="batchDelete">
    <!--@mbg.generated-->
    delete from `scope`
    where deleted_at = 0 and id in
    <foreach collection="collection" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <insert id="batchInsert">
    <!--@mbg.generated-->
    insert into `scope` (id, flow_id)
    values
    <foreach collection="collection" item="item" separator=",">
      (#{item.id}, #{item.flowId})
    </foreach>
  </insert>

  <select id="selectByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `scope`
    where deleted_at = 0 and
    flow_id in
    <foreach collection="collection" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
    </select>
</mapper>